{% extends 'base.html' %}

{% block content %}
    <h5>Get all type of latest electronic model of apple, samsung and more famous company - BY REYANSH OWNER</h5>
    <hr>
    <hr>
    <div class="row">
        {% for product in products %}
         <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.image_url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">₹₹ {{ product.price }}</p>
                    <a href="#" class="btn btn-primary">BUY IT - DEAL FINAL(ORDER)</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}